<environment include="Development">
    <script src="/lib/jquery/dist/jquery.js"></script>
</environment>

<style>
    .glyphicon-plus {
        color: green;
    }

    .col-md-12 {
        margin-top: 10px;
    }
</style>
@using (Html.BeginForm("Add", "Section"))
{
    <div style="margin-top: 30px;">
        <div class="row">
            <div class="label-text col-md-4">Название публикации</div>
            <div class="col-md-8">
                <input type="text" class="form-control" name="publicationName" />
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <button name="addType" class="btn btn-default"  type="button" onclick="addTypeName()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавить вид
                </button>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12"  onclick="translateThis(this)">
                <input type="checkbox" name="isTranslate"/>
                На иностранном языке
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" name="searchAuthor" placeholder="Введите автора"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button name="addAuthor" class="btn btn-default" type="button" onclick="addAuthorName()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавить автора
                </button>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <button name="addFormWork" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                    Добавить формы работы
                </button>
            </div>
        </div>
    </div>
   
}
<script type="text/javascript">
    $('[name=searchAuthor]').change(function () {
        var elem = $('div.col-md-12:has([name=searchAuthor])');
        $(elem).find("ul").remove();
        if ($(this).val() === "") return;
        $.get('@(Url.Action("GetAuthors", "Add"))' + '?character=' + $(this).val(),
            function (data) {
                var list = data.authors;
                if (list == null)
                    list = "<ul class='list-group'><em>Нет данных для отоборажения</em></ul>";
                $(elem).append(list);
        });
    });

    function translateThis(elem) {
        var findinput = $(elem).find('[name=addTranslate]');
        var checkbox = $(elem).find('[type=checkbox]');
        if ($(findinput).length == 0) {
            $(checkbox).attr("checked", "checked");
            var div = $('<div>')
                .attr("name", "addTranslate")
                .css("margin-top", "3px");
            var input = $('<input />')
                .attr("type", "text")
                .attr("class", "form-control");
            $(div).append("Введите перевод названия публикации").append(input);
            $(elem).append(div);
        }
        else {
            $(checkbox).removeAttr("checked");
            $(findinput).remove();
        }
    }
    function addName() {
        $.get('@(Url.Action("AddType", "Add"))',
                    function (data) {
                        $('div.col-md-12:has([name=addType])').html(data);
                });
    }
    function addAuthorName() {
        $.get('@(Url.Action("AddAuthor", "Add"))',
            function (data) {
                $('div.col-md-12:has([name=addAuthor])').html(data);
                });
    }
    $().ready(function () {

    });
</script>


