@model List<ResearchModule.Models.Section>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*Id соответсует своему разделу :)*@
<style>
    td:hover {
        background : rgba(0, 0, 0, .075)
    }
</style>
<table class="table" style="margin-top:30px;">
    <thead>
        <tr>
            <th>Выберите раздел, в котором содержится научная работа</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="padding: 20px;">
                    @Html.ActionLink(item.SectionName, "#", "#", new { }, new { style = "color:black;text-decoration:none;" })
                </td>
            </tr>
        }
    </tbody>
</table>

