
/.vs
/ResearchModule/bin/
/ResearchModule/obj/
/ResearchModule/Files/
/ResearchModule/Migrations/
/ResearchModule/wwwroot/lib/
/ResearchModule/TODOshki.txt
/db.PNG

/ResearchModule/wwwroot/my.html
/ResearchModule/wwwroot/admin.html
/ResearchModule/wwwroot/profile.html
