@using ResearchModule.Components
@using ResearchModule.Components.Models
@model long

@{
    var id = string.Format("Author[{0}].", Model);
    var name = string.Concat("CreateAuthorsModalBody_", id);
}
<tr>
    <td>
        @Html.Card(name).Collapse().Style("margin-top: 10px; ").Row(c =>
{
    c.For()
        .Content("Фамилия").Size(4)
        .Row(Html.TextBox(id + "Surname", "", new { @class = "form-control" })).Size(8);
    c.For()
       .Content("Имя").Size(4)
       .Row(Html.TextBox(id + "Name", "", new { @class = "form-control" })).Size(8);
    c.For()
       .Content("Отчество").Size(4)
       .Row(Html.TextBox(id + "LastName", "", new { @class = "form-control" })).Size(8);
    c.For()
     .Content(Html.CheckBox(id + "Weight", false)).Content(" Вес").Size(4)
     .Row(Html.Button("removeAuthor_" + Model, " Удалить автора", Html.Icon("remove"), new Dictionary<string, object> { { "type", "button" }, { "onClick", "Author.remove('" + name + "');" } })).Size(8);
    return c;
}).Render()
    </td>
</tr>