<hr style="margin:auto;" />
<div class="row">
    <div class="col-md-12">
        <div>
            Фамилия
            <input type="text" class="form-control" name="surname"/>
        </div>
        <div>
            Имя
            <input type="text" class="form-control" name="name"/>
        </div>
        <div>
            Отчество
            <input type="text" class="form-control" name="lastname"/>
        </div>
        <div>
            <input type="checkbox" class="checkbox-inline" name="coAuthor" />
            Соавтор
        </div>
    </div>
</div>
<hr style="margin:auto;" />
<div class="row">
    <div class="col-md-12">
        <button name="addAuthor" class="btn btn-default" type="button" onclick="addAuthorName()">
            <span class="glyphicon glyphicon-plus"></span>
            Добавить автора
        </button>
    </div>
</div>
