@using ResearchModule.Components.Models.Card
@using ResearchModule.Components
@using Microsoft.AspNetCore.Html


@Html.Card("Author").Collapse().Header("Список авторов").Row((Card a) =>
{
    a.For()
    .Content(Render(CustomCreate()))
        .Id("countResult");
    return a;
}).Render()


@{
    IHtmlContent Render<T>(Func<T, IHtmlContent> helper, T item = default(T)) =>
    helper(item);

    Func<object, IHtmlContent> CustomCreate() =>
        (@<text>
        <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th data-toggle="tooltip" title="Определение веса каждого из авторов">Вес *<span id="count_Authors"></span></th>
                    </tr>
                </thead>
                <tbody id="createResult"></tbody>
                <tbody id="searchResult"></tbody>
        </table>   
        </text>);
}

