@using ResearchModule.Components
@using Microsoft.AspNetCore.Html
@inject ResearchModule.Service.PublicationService PublicationService
@model long

<div class="panel panel-default">
   
    <div class="panel-heading">Список авторов</div>
    @*<div class="panel-body">
        <p><b><em>Вес</em></b> представлет собой вклад каждого из авторов, при создании публикации. Если форма работы аудиовизуальная или электронная, то вес не указывается.</p>
    </div>*@
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th data-toggle="tooltip" id="WeightTitle" 
                    title="Вес представлет собой вклад каждого из авторов при создании публикации. Если форма работы аудиовизуальная или электронная, то вес не указывается.">
                Вес *<span id="count_Authors"></span></th>
            </tr>
        </thead>
        <tbody id="createResult"></tbody>
        <tbody id="searchResult"></tbody>
        @{
            if (Model != 0)
            {
                <tbody id="getResult">@Html.Partial("../Author/Search", PublicationService.GetAuthorsByPublication(Model))</tbody>
            }
        }
    </table>
    
</div>

