@using ResearchModule.Components
@using  ResearchModule.ViewModels
@using ResearchModule.Extensions
@inject ResearchModule.Service.PublicationService PublicationService
@model ResearchModule.ViewModels.PublicationsViewModel

<div class="toolbar">
    <a href="@Url.Action("Create", "Publication")" class="btn btn-default">Добавить</a>
</div>

<div class="row">
    <div id="pageInfoResult">
        @Html.Partial("PublicationView", Model)
    </div>
    <div class="publications_filters col-md-offset-1 col-md-4">
        @Html.Partial("Filter", Model.PublicationFilterViewModel != null
            ? Model.PublicationFilterViewModel
            : new PublicationFilterViewModel())
    </div>
</div>

<style>
    .viewAurhors, .dater {
        font-size: 11px;
        color: #8e8f8f;
    }

    .right {
        text-align: right;
    }

    .dater {
        vertical-align: bottom;
        bottom: 0;
        right: 15px;
    }
</style>