@model List<ResearchModule.Models.Publication>

<div>
    <div>
        Количество @Model.Count
    </div>
    <div>
        @foreach (var item in Model)
        {
            @item.PublicationName

        }
    </div>
</div>