@model ResearchModule.Models.SelectList

@*multiple*@

<select class="form-control selectpicker_@Model.GetName()"  data-width="100%" name="@Model.GetName()" title="Ничего не выбрано">
    @foreach (var elem in Model.Elements)
    {
        <option value="@(elem.Value)">@(elem.Text)</option>

    }
</select>

